body,
.inner-wrapper {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

header {
  /*type selector */
  position: sticky;
  top: 0;
}

header h1 {
  font-family: "Tilt Prism", cursive;
  margin-top: 0;
  font-size: 4rem;
}

header h2 {
  font-family: "Comforter", cursive;
  font-size: 3.2rem;
}

header h1,
header h2 {
  display: flex;
  justify-content: center;
}

header h2 {
  position: relative;
}

header h2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid #000000;
}

header abbr {
  margin: 0 1%; /*space around the abbreviation */
}

.summary {
  /*class selector */
  font-family: "Shadows Into Light", cursive;
  font-weight: 999;
  font-size: 2rem;
  text-align: center;
  margin: 0 15rem;
}

.summary a:link {
  color: #e7b6df;
  text-decoration: none;
}

.summary a:visited {
  color: #965408;
}

.summary a:hover {
  color: #ffffe0;
}

.summary a:active {
  color: #90ee90;
}

.intro {
  background-image: url(../img/header.jpg);
  background-size: cover;
}

.preamble h3 {
  font-family: "Comforter", cursive;
  font-size: 2.4rem;
  margin-left: 15%;
}

.preamble h3::before {
  /* pseudo-element selector */
  content: "";
  display: inline-block;
  width: 2em;
  height: 2em;
  background-image: url(../img/enlightenment.webp);
  background-size: contain;
  border-radius: 50%;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 1.5%;
}

.preamble h3::before:hover {
  filter: brightness(1.4);
  filter: sepia(100%);
}

.preamble p {
  /* descendant combinator */
  margin-left: 5%;
  color: #edeade;
  text-align: left;
  margin-right: 45%;
  font-size: 1.2em;
}

.preamble:nth-child(3) {
  padding-bottom: 5%;
}

.explanation,
.participation {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-left: 5%;
}

.participation {
  padding-right: 5%;
}

.benefits,
.requirements {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-left: 5%;
}

.requirements {
  padding-right: 5%;
  margin-bottom: 5%;
}

#zen-supporting h3 {
  border-bottom: 1px solid #965408;
  font-size: 2rem;
  font-family: "Tilt Prism", cursive;
}

.explanation > p {
  /* child combinator */
  font-size: 1.5em;
  font-family: "Bebas Neue", sans-serif;
}

.participation > p {
  font-size: 1.3em;
  font-family: "Bebas Neue", sans-serif;
}

.requirements p {
  font-size: 1.2em;
  font-family: "Bebas Neue", sans-serif;
}

.benefits p {
  font-size: 2.5em;
  font-family: "Bebas Neue", sans-serif;
}

.requirements a[href],
.participation a[href] {
  /* attribute selector */
  text-decoration: none;
}

.requirements a:link,
.participation a:link {
  color: #3986fa;
}

.requirements a:hover, /* pseudo-class selector */
.participation a:hover {
  color: #fa1616;
}

#zen-supporting footer a:link {
  /* id selector */
  color: #ffffff;
}

#zen-supporting a:visited {
  color: #fa1616;
}

#zen-supporting footer a:hover {
  color: #555508;
}

#zen-supporting a:active {
  color: #851773;
}

footer {
  text-align: center;
}
footer a {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  margin-top: 10%;
  text-decoration: none;
  background-color: #918c8c;
  padding: 0.5em;
  border-radius: 15px;
  transition: background-color 1s ease;
}

footer a:hover {
  background-color: #ffffff;
  padding: 1em;
  border-radius: 3vw;
}

.wrapper {
  border-top: 1px solid #965408;
  display: flex;
  margin: 5%;
  margin-bottom: 0;
}

.design-selection,
.design-archives,
.zen-resources {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  padding: 0 10px;
}

.sidebar {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8634020618556701) 13%,
    rgba(180, 98, 12, 0.46649484536082475) 91%
  );
}

.sidebar ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  font-size: 1.2em;
  font-family: "Bebas Neue", sans-serif;
}

.sidebar a {
  color: #3986fa;
  text-decoration: none;
  margin-bottom: 2%;
  margin-top: 2%;
  display: inline-block;
  transition: transform 0.5s ease;
}

.sidebar a:hover {
  transform: rotate(360deg);
}

.sidebar h3 {
  font-family: "Comforter", cursive;
  font-size: 2rem;
}
/* A bit of responsiveness i needed to add even though i used responsive measurements */
@media screen and (max-width: 600px) {
  .summary {
    margin: 0 10rem;
  }
}

@media screen and (max-width: 480px) {
  .summary {
    margin: 0 5rem;
  }

  .benefits p {
    font-size: 1.3em;
  }

  #zen-supporting h3 {
    font-size: 1.5em;
  }

  footer a {
    font-size: 1em;
  }

  .requirements {
    float: none;
  }
}
