
.wrapper { /*class selector */
  border: 10px solid #50160a;
  border-style: double;
  height: 80vh;
  width: 80vw;
  background-color: #808080;
  margin: 0 auto;
}

#name{ /*ID selector */
    display: flex;
    justify-content: center;
}

main section div img{ /*Combinator Selector */
    display: flex;
    justify-content: center;
    height:60vh;
    margin: 0 auto;
    border: 2px solid #50160a;
  }
  
main h2{ 
    display: flex;
    justify-content: center;
}

*:not(p), /*:not selector (pseudo-class) */
footer p {
    color: #333;
}

p{
    color: initial;
}

main p{
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    margin: 1 auto;
}

h3{
    font-family: 'Montserrat', sans-serif;

}

ul{
    list-style: inside;
}

ul li:nth-of-type(odd){ /*pseudo class */
    font-weight: bold;
}

footer p{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    background-color: #808080;
    border: 2px solid #50160a;
    border-style: double;
}
@keyframes appear{
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}
/* the element to apply the animation to */

h1 {
  animation-name: appear;
  animation-duration: 5s;
}